.container {
  font-family: 'Arial', sans-serif;
  padding: 1em;
}
.header {
  align-items: center;
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  margin-right: 10px;
}
.profile-picture {
  border-radius: 50%;
  width: 6em;
  height: 6em;
  margin-right: 10px;
  object-fit: cover;
}
.athlete-name{
  color: #009ccc;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 5em;
}
.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1
}
.logo img {
  height: 4em;
  width: auto;
}
.logo-text p {
  text-align: right;
}
.athlete-info {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.athlete-name {
  font-size: 20px;
  margin-left: 100px;
}
.data {
  width: 15%;
}
.data ul {
  list-style: none;
  padding: 0;
}
.data li {
  margin-bottom: 0.5em;
}
.data label {
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper {
  overflow-x: auto;
}
th {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8em;
}
th.school-name {
  position: sticky;
  left: 0;
  z-index: 1;
}
.footer {
  border-bottom: 8px solid #0099cc;
  font-size: 0.8em;
  width: 124em;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 1em;
}
@media (max-width: 600px) {
  .athlete-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .athlete-name {
    font-size: 18px;
    text-align: center;
  }
  .data {
    width: 100%;
  }
  .footer {
   position: static;
   margin-top: 2em;
   padding: 1em;
  }
}
